{% extends 'base.html.twig' %}

{% block title %}Hello BookListController!
{% endblock %}

{% block body %}

	{{form(search_form)}} {# todo display submit inline #}

	{% for book in paginator %}
		{% block book %}
			<div>
				<a href="{{ path('app_book', { isbn: book.isbn }) }}">
					{{ book.title }} by {{ book.author }}
				</a>
			</div>
		{% endblock %}
	{% endfor %}

	{# display navigation #}
	<div class="navigation">
		{{ knp_pagination_render(paginator) }}
	</div>

{% endblock %}
